<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <a href="{{@blog.url}}">Home</a>
  <a href="/about-me/">About me</a>
  <a href="/telefony-projects/">Telefony projects</a>
</nav>