<ul id="social-profiles">
	<li class="twitter"><a data-toggle="tooltip" data-placement="top" data-original-title="Follow me on Twitter!" href="http://twitter.com/areskib"><i class="icon-twitter3"></i></a></li>
	<li class="googleplus"><a data-toggle="tooltip" data-placement="top" data-original-title="Find me on googleplus!" href="https://plus.google.com/u/0/+AreskiBelaid"><i class="icon-google-plus"></i></a></li>
	<li class="rss"><a data-toggle="tooltip" data-placement="top" data-original-title="Subscribe!" href="{{@blog.url}}/rss"><i class="icon-feed4"></i></a></li>
    <li><a data-toggle="tooltip" data-placement="top" data-original-title="Follow me on Instagram" href="http://instagram.com/areskib"><i class="icon-instagram"></i></a></li>
    <li><a data-toggle="tooltip" data-placement="top" data-original-title="Follow me on Github" href="http://github.com/areski"><i class="icon-github"></i></a></li>
    <li><a data-toggle="tooltip" data-placement="top" data-original-title="Connect with me on LinkedIn" href="http://es.linkedin.com/in/areski"><i class="icon-linkedin"></i></a></li>
</ul>
